* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' ,sans-serif;
    background-color: #1a1a1c;
    color: #fff;
  }
  
.pomodoro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .pomodoro-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .timer-container {
    width: 300px;
    height: 300px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .timer {
    text-align: center;
  }
  
  .timer-label {
    font-size: 1.5rem;
  }
  
  .timer-display {
    font-size: 3rem;
    margin: 1rem 0;
  }
  
  .break-timer {
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  .cycle-count {
    margin-top: 2rem;
    font-size: 1rem;
  }
  